@import "_css3-mixins.scss";

/* cart style */

/* inpage inquiry box */
.inquiry_box{
	float:right;
	
	label{
		float:left;
		padding:5px 10px;
		margin:1px;	}

	.pro-quantity-field{
		width:60px;
		padding:5px 10px;
		float:left;
		margin:1px;
	}

	.inquiry_btn {
		display:block;
		background:#522424;
		padding:5px 10px;
		color:#fff !important;
		text-decoration:none !important;
		float:left;
		margin:1px;

		@include transition('all 0.5s');

		&:hover{
			background:#15466A;
		}

		&.active{
			background:#B61C1F;
			color:#fff;
		}
	}
}

/* list inquiry box */
.list_inquiry_box{
	
	label{
		float:left;
		padding:5px 10px;
		margin:1px;
	}

	.pro-quantity-field{
		width:60px;
		padding:7px 10px;
		float:left;
		margin:1px;
	}

	.inquiry_btn {
		display:block;
		background:#522424;
		padding:5px 10px;
		color:#fff !important;
		text-decoration:none !important;
		float:left;
		margin:1px;
		@include border-radius(5px);

		@include transition('all 0.5s');

		&:hover{
			background:#713939;
		}

		&.active{
			background:#B21A1A;
			color:#fff;
		}
	}

}

/* cart floting box */
#cart{
	display:none;
	position:fixed;
	bottom: 0;
	height: auto;
	right:0;
	background:#000000;
	padding:5px;
	z-index:1000;
	@include box-shadow(0,0,10px,#000);

	a{
		text-decoration: none;
	}

	.control_wrap{
		position:relative;
		margin:0;
		height:40px;
		overflow:hidden;
		.checkout_btn{
			display:block;
			width: 83%;
		    height: 30px;
		    padding: 5px 2%;
			background:#522424;
			color:#fff;
			float:left;
			cursor:pointer;
			overflow:auto;
			@include transition('background 0.5s');
			&:hover{
				background:#794343;
				text-decoration: none;
			}

			&::before{
              content: '';
              display: inline-block;
              vertical-align: middle;
              width: 0;
              height: 100%;
            }

            span{
                  display: inline-block;
                  vertical-align: middle;/* 保证文字垂直居中 */
            }

		}
		.expend_btn{
			display:table;
			width:8%;
		    height: 30px;
		    padding: 5px 2%;
			background:#522424;
			color:#fff;
			float:right;
			text-align: center;
			cursor:pointer;
			@include transition('background 0.5s');
			&:hover{
				background:#794343;
			}

			&::before{
              content: '';
              display: inline-block;
              vertical-align: middle;
              width: 0;
              height: 100%;
            }

            span{
                  display: inline-block;
                  vertical-align: middle;/* 保证文字垂直居中 */
            }
		}
	}
	.list-wrapper{
		position:relative;
		height:calc(100% - 75px);
		overflow:auto;
		clear:both;
		.item{
			position:relative;
			border:1px solid #ccc;
			background:#fff;
			margin: 1%;
		    padding: 1%;
		    width: 96%;
		    text-align: left;
			.delete_btn,
			.move_btn{
				width:20px;
				height:20px;
				position:absolute;
				background:#fff;
				cursor:pointer;
				background:#522424;
				color:#fff;
				text-align: center;
		        font-size:12px;
				@include transition('background 0.5s');
				@include border-radius(2px);
				&:hover{
					color:#fff;
					background:#764646;
				}
				&::before{
		          content: '';
		          display: inline-block;
		          vertical-align: middle;
		          width: 0;
		          height: 100%;
		        }

		        span.i-center{
		            display: inline-block;
		            vertical-align: middle;/* 保证文字垂直居中 */
		        }

			}
			
			.delete_btn{
				top:2px;
				right:2px;
			}
			.move_btn{
				top:2px;
				right:26px;
			}

			.pro-quantity-field{
				width:60px;
				padding: 3px;
			    @include border-radius(5px);
			    border: 1px solid #aaa;
			}

			.item_name{
				word-break: break-all;
				margin-bottom:5px;
			}
			.item_no{
				margin-bottom:5px;
			}
		}
	}


	.clearAll_btn{
		height:30px;
		overflow:hidden;
		position: relative;
	    bottom: 0;
	    background: #522424;
	    color:#fff;
	    float: none;
	    clear: both;
	    width: 96%;
	    padding: 5px 2%;
	    text-align: center;
	    cursor:pointer;
		@include transition('background 0.5s');
	    &:hover{
	    	background:#794343;
	    }

	    &::before{
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 0;
          height: 100%;
        }

        span{
              display: inline-block;
              vertical-align: middle;/* 保证文字垂直居中 */
        }
	}
}

/* submiting page container */
.inquiries_container{
	label{
		font-weight: bold;
		display:block;
		padding:5px;
		background:#522424;
		color:#fff;
		@include border-radius(5px 5px 0 0);
	}
	#inquiries_block{
		border:1px solid #522424;
		border-top:0;
		padding:5px;
		margin-bottom:10px;
		margin-top:0;
		background:#ffffff;
		@include border-radius(0 0 5px 5px);
	
		.item{
			border: 1px solid #522424;
    		padding: 5px;
    		margin:5px;
    		background:#F2EDED;
			width:auto;
    		position:relative;
    		@include border-radius(3px);
	
			.clear{
				clear:both;
			}

			.btn{
				float:left;
				padding:5px 10px;
				margin:5px 10px 5px 5px;
				cursor:pointer;
			}
			input{
				height: auto;
    			width: 150px;
			}
			.delete_btn,
			.move_btn{
				width:20px;
				height:20px;
				position:absolute;
				background:#fff;
				cursor:pointer;
				background:#522424;
				color:#fff;
				font-size:12px;
				text-align: center;
				@include transition('background 0.5s');
				@include border-radius(2px);
				&:hover{
					color:#fff;
					background:#764646;
				}
				&::before{
		          content: '';
		          display: inline-block;
		          vertical-align: middle;
		          width: 0;
		          height: 100%;
		        }

		        span.i-center{
		            display: inline-block;
		        	vertical-align: middle;/* 保证文字垂直居中 */
		        }
			}
			.delete_btn{
				top:5px;
				left:30px;
			}
			.move_btn{
				top:5px;
				left:5px;
			}
			.pro-quantity-field{
				width:40px;
				padding: 3px;
			    @include border-radius(5px);
			    border: 1px solid #aaa;
			}
			.amt_field{
				float:right;
			}

			.item_num{
				clear:both;
				margin:3px 0;
				word-break: break-all;
			}
		}

		.total_price{
			text-align: right;
    		padding: 0 10px;
		}
	}
}

/*jquery ui*/
.portlet-placeholder {
    height: 50px;
}

@media screen and (max-width: 960px) {
	.inquiries_container #inquiries_block .item .delete_btn [class^="icon-"],
	.inquiries_container #inquiries_block .item .delete_btn [class*=" icon-"],
	#cart [class^="icon-"], 
	#cart [class*=" icon-"]{
	    font-size:12px !important;
	    display:inline-block;
	}
}